<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Prop的大小写</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="web">
      <!-- 在 HTML 中是 kebab-case 的 -->
      <!-- <blog-post post-title="hello!"></blog-post> -->
    </div>
    <script>
      /* 
        HTML中的 attribute 名是大小写不敏感的，浏览器会把所有大写字符解释为小写字符。
        因此如果使用DOM模板，camelCase（驼峰命名）的`prop`名需要使用其等价的kebab-case（短横线分隔命名）。
        但是，如果使用字符串模板，那么这个限制就不存在了。
      */
      Vue.component('blog-post', {
        // 在JavaScript中是`camelCase`的
        props: ['postTitle'],
        template: '<h3>{{ postTitle }}</h3>',
      })
      var vm = new Vue({
        el: '#web',
        // 使用字符串模板
        template: `
          <blog-post postTitle="Hello Vue!"></blog-post>
        `,
      })
    </script>
  </body>
</html>
